body {
  background-color: #121212;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 75%;
}

.wrapper {
  width: 1050px;
  margin: 0 auto;
}

#header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  padding: 10px;
  margin: 10px;
}

#headerLogo {
  width: 200px;
}

.headerItem {
  width: 100%;
  text-align: center;
  align-self: center;
  justify-self: center;
  border-bottom: 5px solid;
  border-image-source: linear-gradient(90deg, #01cbff, #dd44be);
  border-image-slice: 10;
}

.headerItem a {
  color: white;
  text-decoration: none;
}

.headerButton {
  background-color: #6a61ff;
  border: none;
  height: 35;
  width: 75;
  font-weight: 700;
  color: white;
}

#homeSearch {
  display: grid;
  grid-template-columns: 950px 50px;
}

#searchInstructionsText {
  position: absolute;
  color: black;
  opacity: 0.6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 150%;
  margin-top: 15px;
  margin-left: 10px;
  animation: searchPlaceholderFade 5s linear infinite;
}

@keyframes searchPlaceholderFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#homeSearch input {
  height: 50px;
  text-indent: 10px;
  font-size: 140%;
}

#homeSearchButton {
  border: none;
  text-align: center;
  height: 50px;
  background: linear-gradient(-115deg, purple, orange, purple, orange, purple);
  background-size: 200% 200%;
  -webkit-animation: HomeSearchButtonGradient 5s ease infinite;
  -moz-animation: HomeSearchButtonGradient 5s ease infinite;
  animation: HomeSearchButtonGradient 5s ease infinite;
}

@-webkit-keyframes HomeSearchButtonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes HomeSearchButtonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes HomeSearchButtonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#trendingCarousel {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

#resultsCarousel {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.trendingImg {
  margin: 5px;
}

#details {
  padding-top: 50px;
  max-width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
}

#detailsLeftBar {
  grid-column: 1;
}

#userWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: left;
  overflow-wrap: break-word;
}

#userAvatar {
  width: 50px;
  height: 50px;
}

#userProfileLink {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

#userDisplay {
  font-weight: bold;
}

#userSourceTitle {
  color: #b2b2b2;
}

#userSource {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#detailsCenter {
  grid-column: 2;
}

#relatedGifs {
  max-width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

#relatedGifs img {
  width: 248;
  height: 140;
}

#gifTitle {
  font-size: 115%;
  color: #b2b2b2;
  padding-bottom: 10px;
}

#userAvata {
  position: absolute;
  float: left;
}

#userProfileLink {
  position: absolute;
  overflow-wrap: break-word;
  margin-left: 50px;
  font-size: 115%;
}

#searchTitle {
  font-size: 2rem;
}

#searchDetailWrapper {
  padding-bottom: 10px;
}

#gifCount {
  padding-left: 5px;
  color: #b2b2b2;
}

#uploadArea {
  width: 100%;
  text-align: center;
  height: 650px;
  background: linear-gradient(90deg, #2dabd5, #7859f1);
}

#uploadInstructions {
  padding-top: 20px;
  width: 45%;
  padding-left: 30%;
}

#uploadInstructions p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 150%;
}

#uploadGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  margin-top: 20px;
  margin-left: 120px;
}

.uploadHolder {
  border-style: dashed;
  border-color: white;
  width: 410px;
  height: 170px;
}

.uploadHolderBackground {
  background-color: white;
  opacity: 0.2;
  margin-top: 5px;
  margin-left: 5px;
  width: 400px;
  height: 160px;
}

.uploadHolderBackground:hover {
  opacity: 0.4;
}

.uploadHolder input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
}

.uploadIcon {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 60px;
}

.UploadButtonInstructions {
  text-align: left;
  position: absolute;
  width: 60%;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 5px;
  margin-top: 60px;
}

#clickToUploadInstructions {
  margin-left: 120px;
}

#clickToUploadIcon {
  margin-left: 40px;
}

#dragToUploadInstructions {
  margin-left: 540px;
}

#dragToUploadIcon {
  margin-left: 460px;
}

#linkUpload {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 5px;
  margin-left: 5px;
  width: 800px;
  height: 180px;
  position: absolute;
  margin-top: 220px;
  margin-left: 140px;
}

#linkUpload h2 {
  margin-left: 30px;
  margin-top: 50px;
}

#linkUpload input {
  margin-left: 30px;
  width: 750px;
  height: 40px;
  text-indent: 10px;
}

.noHover {
  pointer-events: none;
}
