body {
  background-color: black;
  color: white;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

#headerLogo {
  width: 200px;
}

.headerButton {
  background-color: #6a61ff;
  border: none;
  height: 35;
  width: 75;
  font-weight: 700;
  color: white;
}

#homeSearch {
  display: grid;
  grid-template-columns: 950px 50px;
}

#homeSearch input {
  height: 50px;
  text-indent: 10px;
}

#homeSearch button {
  height: 50px;
  background-image: linear-gradient(-115deg, purple, orange);
  border: none;
}

#trendingCarousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vw;
}

#trendingCarousel img {
  flex: 1;
  text-align: center;
  margin: 5px;
}
