body {
  background-color: black;
  color: white;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

#header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
}

#headerLogo {
  width: 200px;
}

.headerItem {
  width: 100%;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.headerBorder {
  width: 100%;
  border-bottom: 5px solid;
  border-image-source: linear-gradient(90deg, #01cbff, #dd44be);
  border-image-slice: 10;
}

.headerButton {
  background-color: #6a61ff;
  border: none;
  height: 35;
  width: 75;
  font-weight: 700;
  color: white;
}

#homeSearch {
  display: grid;
  grid-template-columns: 950px 50px;
}

#homeSearch input {
  height: 50px;
  text-indent: 10px;
  font-size: 110%;
}

#homeSearchButton {
  text-align: center;
  height: 50px;
  background: linear-gradient(-115deg, purple, orange, purple, orange, purple);
  background-size: 200% 200%;
  -webkit-animation: HomeSearchButtonGradient 5s ease infinite;
  -moz-animation: HomeSearchButtonGradient 5s ease infinite;
  animation: HomeSearchButtonGradient 5s ease infinite;
}

@-webkit-keyframes HomeSearchButtonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes HomeSearchButtonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes HomeSearchButtonGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#trendingCarousel {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
}

.trendingImg {
  margin: 5px;
}

#details {
  padding-top: 50px;
  max-width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
}

#detailsLeftBar {
  grid-column: 1;
}

#userWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

#userAvatar {
  width: 50px;
  height: 50px;
}

#userProfileLink {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

#userDisplay {
  font-weight: bold;
}

#userSource {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#detailsCenter {
  grid-column: 2;
}

#relatedGifs {
  max-width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

#relatedGifs img {
  width: 248;
  height: 140;
}
